**1. Program to check if the Given List is in Ascending Order or Not.**

In [ ]:
#list in ascending order
listA = [20,30,43,45,50]
print("List A : ",listA)
listA_copy = listA[:]
listA_copy.sort()
if (listA == listA_copy):
   print("Yes, List in ascending order.")
else:
   print("No, List is not ascending order.")


#list in not acesnding order
listB = [6,8,3,5,20]
print("List B : ",listB)
listB_copy = listB[:]
listB_copy.sort()
if (listB == listB_copy):
   print("Yes, List in ascending order.")
else:
   print("No, List is not ascending order.")

List A :  [20, 30, 43, 45, 50]
Yes, List in ascending order.
List B :  [6, 8, 3, 5, 20]
No, List is not ascending ordre.

**2. Program to Find Even Numbers from a List.**

In [ ]:
ListA=[2,43,5,66,40,30,45]
print("Given list : ",ListA)

for even_num in ListA:
    # check for divisiblity by 2
    if even_num % 2 == 0:
        # if divisible by 2 then print
        print("Even numbers are : ",even_num)

Given list :  [2, 43, 5, 66, 40, 30, 45]
Even numbers are :  2
Even numbers are :  66
Even numbers are :  40
Even numbers are :  30

**3. Program to Merge Two Lists.**

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [30, 40, 50, 60]

merged_list = list1+list2
print("Merged List : ",merged_list)

Merged List :  [10, 20, 30, 40, 30, 40, 50, 60]

**4. Interchange First and Last Element of a List.**

In [ ]:
list1 = [33,45,67,89,16]
print("Before interchange : ",list1)

length = len(list1)

# Interchange first and last elements of a list
temp = list1[0]
list1[0] = list1[length - 1]
list1[length - 1] = temp
    
print("After interchange  : ",list1)

Before interchange :  [33, 45, 67, 89, 16]
After interchange  :  [16, 45, 67, 89, 33]

**5. Program to Subtract a List from Another List.**

In [ ]:
list1 = [12,15, 20]
list2 = [13,4,6]
subtracted = list()
for i in range(len(list1)):
    item = list1[i] - list2[i]
    subtracted.append(item)
print("Substraction = ",subtracted)

Substraction =  [-1, 11, 14]

**6. Program to Get Data Items from a List Appearing Odd Number of Times.**

In [ ]:
x = [23,34,54,23,44,54,76]
l1 = []
for i in x:
    if x.count(i) % 2 != 0:
        if i not in l1:
            l1.append(i)
print(l1)

[34, 44, 76]